<extends src='layout.html'>
  <block name='content'>
    <div id="banner">
      <include src="includes/they_should_be_flowers_logo.svg"></include>
    </div>
    <div id="content">
      <div class="highlight">
        <h2>On exhibit at Hot Docs DocX April 26–May 5, 2019</h2>
        <p class="location">Autodesk Technology Centre, 661 University Avenue, Ground Floor<br>

          <a href="https://boxoffice.hotdocs.ca/websales/pages/info.aspx?evtinfo=89901~6052eab3-8904-4c72-8914-433e6b8b62f1&epguid=2157979d-886e-46a2-ace8-e46670981e8a&">More information.</a>
      </p>
      </div>
      <p>They Should Be Flowers short film and VR companion experience about a six-year-old Black girl who was handcuffed by police in Ontario.</p>
      <p>Set in a childlike world of play and wonder, this multi-layered experience uses the latest VR technology to examine Canada’s long standing history of policing Black bodies told through the eyes of a child.</p>
      <h3>Credits</h3>
      <ul>
        <li>
          <span class="title">Writer & Director</span>
          <span class="name">Karen Chapman</span>
        </li>
        <li>
          <span class="title">Digital Producer</span>
          <span class="name">Henry Faber</span>
        </li>
        <li>
          <span class="title">VR Developer</span>
          <span class="name">Parth Soni <span class="studio"><a href="http://www.thousandstarsstudio.com/">Thousand Stars Studio</a></span></span>
        </li>
        <li>
          <span class="title">3D & Technical Artist</span>
          <span class="name">Sally Luc <span class="studio"><a href="http://www.thousandstarsstudio.com/">Thousand Stars Studio</a></span></span>
        </li>
        <li>
          <span class="title">VR Audio</span>
          <span class="name">Matt Miller <span class="studio"><a href="https://levelcurve.co">Level Curve</a></span></span>
        </li>
      </ul>
      <p>
        <i class="fas fa-envelope-square"></i> <a href="mailto:flowersvr@gammaspace.ca">Media Inquiries</a>
      </p>

    </div>
    <div id="funders">
      <div class="logo"><include src="includes/oac_logo.svg"></include></div>
      <div class="logo"><include src="includes/tac_logo.svg"></include></div>
    </div>


  </block>
</extends>



