<extends src='layout.html'>
  <block name='content'>

    <h1>They Should Be Flowers</h1>
    <p>Currently on exhibit at Hot Docs.</p>

    <p>They Should Be Flowers short film and VR companion experience about a six year old Black girl who was handcuffed by police in Ontario.</p>
    <p>Set in a childlike world of play and wonder, this multi-layered experience uses the latest VR technology to examine Canada’s long standing history of policing Black bodies told through the eyes of a child.</p>

    <h2>Credits</h2>

    <ul class="mb-12">
      <li>Written & Directed: <span class="name">Karen Chapman</span></li>
      <li>Digital Producer: <span class="name">Henry Faber</span></li>
      <li>VR Development: <span class="name">Parth Soni (Thousand Stars Studio)</span></li>
      <li>3D & Technical Artist: <span class="name">Sally Luc (Thousand Stars Studio)</span></li>
      <li>VR Audio: <span class="name">Matt Miller (level Curve)</span></li>
    </ul>
  </block>
</extends>



