<extends src='layout.html'>
  <block name='content'>
    <div id="banner">
      <include src="includes/they_should_be_flowers_logo.svg"></include>
    </div>
    <div id="content">
      <div class="container">

        <section id="intro">

          <div class="highlight">
            <h2>On exhibit at Hot Docs DocX</h2>
            <h3>April 26–May 5, 2019</h3>
            <p class="location">Autodesk Technology Centre, 661 University Avenue, Ground Floor<br>

              <a href="https://boxoffice.hotdocs.ca/websales/pages/info.aspx?evtinfo=89901~6052eab3-8904-4c72-8914-433e6b8b62f1&epguid=2157979d-886e-46a2-ace8-e46670981e8a&">More information.</a>
            </p>
          </div>
          <p><em>They Should Be Flowers</em> is a short film and VR companion experience about a six-year-old Black girl who was handcuffed by police in Ontario.</p>
        </section>
        <section id="credits">

          <h3>VR Credits</h3>
          <ul>
            <li>
              <span class="title">Writer & Director</span>
              <span class="name">Karen Chapman</span>
            </li>
            <li>
              <span class="title">Digital Producer</span>
              <span class="name">Henry Faber</span>
            </li>
            <li>
              <span class="title">VR Developer</span>
              <span class="name">Parth Soni <span class="studio"><a href="http://www.thousandstarsstudio.com/">Thousand Stars Studio</a></span></span>
            </li>
            <li>
              <span class="title">3D & Technical Artist</span>
              <span class="name">Sally Luc <span class="studio"><a href="http://www.thousandstarsstudio.com/">Thousand Stars Studio</a></span></span>
            </li>
            <li>
              <span class="title">VR Audio</span>
              <span class="name">Matt Miller <span class="studio"><a href="https://levelcurve.co">Level Curve</a></span></span>
            </li>
          </ul>
        </section>
        <section id="contact">

          <p>
            <a href="mailto:flowersvr@gammaspace.ca">Media Inquiries</a>
          </p>
        </section>


        <section id="artist-statement">
          <h3>Artist Statement</h3>
          <p>I’m drawn to VR’s proximity to the future and a new frontier that has yet to be discovered. It allows for a particular experiential confrontation that is an important element when dealing with the history of racism in Canada.</p>

          <p>As a storyteller, a large part of my work is centred around who is telling the story and to whom. In its form, this documentary is inspired by an actual experience of a child.
          </p>
          <p>The little girl in this case has been given the pseudonym of Joy to protect her anonymity. This piece is about resistance through truth-telling. There is healing in telling your truth. Joy’s mother has worked closely with me throughout this process in an effort to give voice to how this incident has affected her daughter. But also to empower her.
          </p>
          <p>Our goal is to create tools that provide Black children, parents, guardians and educators with a point of entry to speak to the trauma experienced through this interaction with the police and the long-lingering effects of a loss of trust induced by this trauma.
          </p>
          <p>This VR experience and short film was born out of a deliberate intention to examine Canada’s deeply rooted history of systemic anti-Black racism through eyes and the voice of a child who experienced.
          </p>
          <p>I would to take this time to thank...families, writers, journalists, survivors, lawyers and activists who have committed to continually resisting the erasure of Black experiences through disrupting Canadian national narratives of racial benevolence.
          </p>

        </section>
      </div>



      <section id="bio">
        <div class="container">
          <h3>About Karen Chapman</h3>
          <div class="bio-text">
            <p>Born to Guyanese parents, award-winning filmmaker Karen Chapman has screened her work everywhere from subway displays and airplanes to classrooms and international festivals.</p>
            <p>A graduate of Emily Carr University, Chapman is an alumna of the Banff Centre, a Hot Docs Accelerator Fellow, and was named one of Playback’s “5 Filmmakers to Watch” in 2018.</p>
            <p>Currently she is preparing to shoot her first feature film, Village Keeper, through Telefilm Canada’s Talent to Watch Program. Chapman is currently honing her craft in the Directors Lab at the Canadian Film Centre.</p>
            <div class="img">
              <img src="/img/karen-chapman-headshot.jpg" alt="Karen Chapman's headshot">

            </div>
          </div>
        </div>
      </section>
      <div class="container">
        <section id="inspiration">

          <p>I’ve been influenced heavily by Robyn Maynard's work and book, <em>Policing Black Lives</em>. Abstract: “This groundbreaking work dispels many prevailing myths that cast Canada as a land of benevolence and racial equality, and uncovers long-standing state practices that have restricted Black freedom.”</p>

          <p>The title is inspired by poet and novelist Joshua Jennifer Espinoza’s poem, There should be Flowers. Black children, as all children should be adored and cared for, instead they are targets. Joy recites the poem throughout the experience</p>


        </section>

        <section id="synopsis">

          <h3>The VR Experience</h3>
          <p>Premiering at Hot Docs DocX, the VR companion to the <em>They Should be Flowers</em> short film is set in a childlike world of play and wonder. This multi-layered experience uses the latest VR technology to examine Canada’s long standing history of policing Black bodies told through the eyes of a child.</p>



         <p>Developed in parallel with production of the film, Karen worked with digital producer Henry Faber (<a href="https://gammaspace.ca">Gamma Space</a>) and development team <a href="http://www.thousandstarsstudio.com/">Thousand Stars Studio</a> to used VR's sense of place and ability to manipulate perspective to invite users to experience the circumstances documented in the film. By using a game engine, rather than 360° video, the pieces work together to offer a more holistic understanding of the events that were witnessed.</p>

          <h3>The Film</h3>
         <p>With screening dates to be announced soon, <em>They Should be Flowers</em> is a documentary film that explores the very first time six year old Black child named “Joy” has spoken about being placed in handcuffs by police.</p>

          <p>The title is inspired by poet and novelist Joshua Jennifer Espinoza’s poem, There should be Flowers. Black children, as all children should be adored and cared for, instead too often, they are targets.</p>
        </section>
      </div>
      <div id="funders">
        <div class="logo"><include src="includes/oac_logo.svg"></include></div>
        <div class="logo"><include src="includes/tac_logo.svg"></include></div>
      </div>
    </div>

  </block>
</extends>