<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>They Should Be Flowers</title>
  <meta name="description" content>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@">
  <meta name="twitter:creator" content="@">
  <meta property="og:url" content="https://theyshouldbeflowers.com">
  <meta property="og:title" content="">
  <meta property="og:image" content="https://theyshouldbeflowers.com/img/they_should_be_flowers_site_image.jpg">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content>
  <meta property="og:description" content="">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
</head>
<body>
  <main id='{{ pageId }}'>
    <div id="logo">
      <h1>They Should Be Flowers</h1>
      <!-- <include src="includes/they_should_be_flowers_logo.svg"></include> -->
    </div>
    <block name='content'></block>


  </main>
  <footer class="footer content"></footer>
  <block name='javascript'>
    <script src='js/main.js' defer></script>
  </block>
</body>
</html>