<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>They Should Be Flowers</title>
  <meta name="description" content>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@thesmallaxx">
  <meta name="twitter:creator" content="@thesmallaxx">
  <meta property="og:url" content="https://theyshouldbeflowers.com">
  <meta property="og:title" content="They Should Be Flowers">
  <meta property="og:image" content="https://theyshouldbeflowers.com/img/they_should_be_flowers_site_image.jpg">
  <meta name="description" content="They Should Be Flowers short film and VR companion experience about a six-year-old Black girl who was handcuffed by police in Ontario.">
  <meta name="keywords" content="VR, hot docs, short film, Oculus">
  <meta name="author" content>
  <meta property="og:description" content="They Should Be Flowers short film and VR companion experience about a six-year-old Black girl who was handcuffed by police in Ontario">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
</head>
<body id='{{ pageId }}'>
  <main>
    <div id="title">
      <h1>They Should Be Flowers</h1>
    </div>
    <block name='content'></block>
  </main>
  <footer>
    <p>&copy; 2019 Karen Chapman</p>
    <p>Web site made with ♡ by <a href="https://www.jenniefaber.com">Jennie</a></p>
  </footer>

</body>
</html>