@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,400i,700');
:root {
  --padding-primary: 24px;
}
@custom-media --mini  (min-width: 280px) and (max-width: 374px);
@custom-media --mobile  (min-width: 375px) and (max-width: 767px);
@custom-media --tablet (min-width: 768px) and (max-width: 1024px);
@custom-media --desktop (min-width: 1025px);
@custom-media --desktop-xl (min-width: 1225px);
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;
  @media (--tablet), (--desktop) {
    font-size: 36px;
  }
}
div.highlight {
  background: #A083ED;
  background-image: url('/img/flowers_background_small.jpg');
  background-size: cover;
  padding: var(--padding-primary);
  color: #fff;
  @nest & h2, & h3, & p {
    margin: 0;
  }
  @nest & a, & a:link {
    color: #fff;
  }
}
.container {
  padding: calc(var(--padding-primary)/2);
  @media (--tablet), (--desktop) {
    padding: var(--padding-primary);
  }
}
#content {
  @nest & p {
    font-weight: 400;
  }
  @nest & ul {
    list-style: none;
    font-size: 24px;
    margin: 0;
    padding: 0;
    @media (--tablet), (--desktop) {
      width: 60%;
    }
    @nest & li {
      display: block;
      @media (--tablet), (--desktop) {
        display: flex;
      }
    }
    @nest & li span.title, & li span.name {
      display: block;
      @media (--tablet), (--desktop) {
        border-bottom: solid 1px #000;
      }
    }
    @nest & li span {
      font-weight: 700;
      @media (--tablet), (--desktop) {
        text-align: left;
        width: 45%;
        padding: 3px;
        flex: 1 1 auto;
      }
    }
    @nest & li span.name {
      font-weight: 300;
      margin-bottom: calc(var(--padding-primary)/3);
      @media (--tablet), (--desktop) {
        margin: 0;
      }
      @nest & .studio {
        text-transform: uppercase;
        font-size: small;
      }
    }
  }
}
#title h1 {
  display: none;
}
a, a:link {
  color: #000;
}
#funders {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  padding: calc(var(--padding-primary)/2);
  justify-content: space-between;
  align-items: center;
  @nest & div {
    padding: 0 var(--padding-primary) 0 0;
    @nest &:last-child {
      padding: 0;
    }
  }
  @nest & svg {
    height: 100%;
    width: 100%;
  }
  @media (--tablet), (--desktop) {
    padding: var(--padding-primary);
    width: 448px;
    @nest & div {
      width: 200px;
      height: 100%;
    }
  }
}
#index #banner {
  margin: 0 auto;
  background-size: cover;
  padding: calc(var(--padding-primary)/2);
  height: 45%;
  background-image: url(/img/they_should_be_flowers_site_image.jpg);
  background-position: center;
  @media (--tablet), (--desktop) {
    height: 90vh;
    padding: var(--padding-primary);
  }
  @nest & svg {
    width: 60%;
    @media (--tablet), (--desktop) {
      width: 600px;
    }
  }
}
#thank-you #banner {
  padding: calc(var(--padding-primary)/2);
  height: 25vh;
  @nest & svg {
    max-height: 100%;
  }
}
/* SECTIONS */
#bio {
  background: #393393;
  color: #fff;
  @nest & h3 {
    margin: 0 0 var(--padding-primary) 0;
  }
  @nest & .container {
    padding: 24px;
  }
  @nest & .bio-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;
    flex: 1 100%;
    @nest & p {
      flex-basis: 100%;
      font-size: 22px;
      margin: 0 0 var(--padding-primary) 0;
      @media (--tablet), (--desktop) {
        margin: 0;
        flex-basis: 23%;
      }
    }
    @nest & .img {
      /* flex-basis: 100%; */
      max-width: 200px;
      margin: 0 auto;
      @media (--tablet), (--desktop) {
        flex-basis: 23%;
        margin: 0;
      }
      @nest & img {
        margin: 0;
        width: 100%;
        display: block;
        height: auto;
      }
    }
  }
}
#signup {
  background-color: #F2E1F4;
  text-align: center;
  @nest & p {
    margin: 0 0 var(--padding-primary) 0;
    color: #393782;
    font-size: 22px;
  }
  @nest & form {
    display: flex;
    justify-content: center;
  }
}
/* helpers */
input[type="text"] {
  padding: 4px 8px;
  border: solid 2px #393393;
  font-size: 22px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
button {
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  padding: 4px 12px;
  background-color: #393393;
  border-radius: none;
  color: #fff;
  border: none;
  cursor: pointer;
}
.hidden {
  display: none;
}
footer {
  padding: var(--padding-primary);
  text-align: center;
  font-size: 18px;
  @nest & p {
    margin: 0 0 6px 0;
  }
  @nest & p + p {
    font-size: 14px;
  }
}